.project-container {
	display: flex;
	align-items: center;
	justify-content:space-evenly;
	flex-direction: row;
	width: 100%;
	margin-top: 20px;
}

.button-container {
	display: flex;
	align-items: center;
	justify-content:space-evenly;
	flex-direction: row;
	width: 100%;
	margin-top: 20px;
}

.root-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content:center;
}

.time-input {
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom: 1px solid aqua;
	background-color:#1f282e;
	caret-color: white;
	color:white;
}

.time-input:focus {
	outline: none;
	border-bottom: 1.5px solid aqua;
}

.time-input::placeholder {
	color: grey;
	opacity: 80%;
	align-items:center;

}

.button-blue {
	width: 30vw;
	height: 5vh;
	background-color: #ed5954;
	color: white;
	border-radius:5px;
	font-family: Arial, "MS Trebuchet", sans-serif;
  font-size: medium;
}

.button-blue:hover {
	background-color: cornflowerblue;
}

.button-blue:focus {
	outline: none;
}

.button-cancel {
	width: 30vw;
	height: 5vh;
	background-color: #ed5954;
	color: white;
	border-radius:5px;
	font-family: Arial, "MS Trebuchet", sans-serif;
  font-size: medium;
}

.button-cancel:hover {
	background-color: cornflowerblue;
}

.button-camcel:focus {
	outline: none;
}

.timer-container {
	margin-top: 20px
}
